body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}


.container {
    display: grid;
    grid-template-columns: clamp(200px,30vw,400px) 70vw;
    grid-template-rows: auto;
}

.sidebar {
    background-color: #EEEEEE;
    height: 100vh;
    /* border: solid 1px #393E46; */
    box-shadow: 1px 1px 5px gray;
    display: flex;
    flex-direction: column;
    
}

#sidebar-title {
    font-weight: 600;
    background-color: #00ADB5;
    color: white;
    margin: 0px;
    padding: 10px;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #222831;
    border-bottom: solid 1px #222831;
}

.project-head {
    padding-left: 10px;
    margin-bottom: 0px;
}

.project-head:hover {
    color: white;
    background-color: #00ADB5;
}

.project-head:hover::after {
    content: " +";
}


.project-ul {
    margin-top: 5px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.1s ease-out;
}


.new-project, #add-remove-project {
    align-self: center;
    font-size: 1.5rem;
    background-color: #00ADB5;
    color: white;
    border: solid 2px #222831;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 8px  #222831;
}

.new-project:hover, #add-remove-project:hover {
    background-color: #04838a;
}

.new-project:active, #add-remove-project:active {
    background-color: #00ADB5;
}

.new-project-form {
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: #EEEEEE;
    box-shadow: 1px 1px 5px #222831;
    border-radius: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
}

#add-remove-project {
    font-size: 1rem;
}

.content {
    
}